<div class="trip-card">
    <div class="schedule">
        <div class="departure">
            <span class="hint">Отправление</span><br>
            <span class="time">09:30</span><br>
            <span class="station">Челябинск Областная</span>
        </div>
        <div class="arrival">
            <span class="hint">Прибытие</span><br>
            <span class="time">10:30</span><br>
            <span class="station">Еткуль</span>
        </div>
    </div>
    <div class="duration">
        <span class="hint">Время в пути</span><br>
        <span style="display: inline-block; margin-top: .3rem;">1 час</span><br>
        <a href="#" style="display: inline-block; margin-top: .55rem;">Информация о рейсе</a>
    </div>
    <div class="buttons">
        <a href="#" class="buy-btn">Купить за 217 ₽</a>
        <span class="seats-left">Осталось мест: 38</span>
    </div>
</div>