<h2>Заполнение данных пассажиров</h2>

<h3>Контактные данные</h3>
<div class="form-row">
    <div class="form-col">
        <label for="" class="input-label">Адрес электронной почты</label>
        <input type="text" class="input-field" placeholder="mail@mail.ru">
    </div>
    <div class="form-col">
        <label for="" class="input-label">Номер телефона</label>
        <input type="tel" class="input-field" placeholder="+7 910 200 30 40">
    </div>
</div>

<div class="checkbox-wrapper">
    <label class="control control--checkbox">
        Уведомить меня в случае отмены рейса
        <input type="checkbox" checked/>
        <div class="control__indicator"></div>
    </label>
</div>