<div class="order-details">
    <div class="spacebetween">
        <h2>Заказ №102030</h3>
        <svg
            _="on click toggle .collapsed on .order-details"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>
    </div>
    <div class="schedule">
        <div class="departure">
            <span class="hint">14 мар, пт</span><br>
            <span class="time">09:30</span><br>
            <span class="station">Челябинск Областная</span>
        </div>
        <div class="arrival">
            <span class="hint">14 мар, пт</span><br>
            <span class="time">10:30</span><br>
            <span class="station">Еткуль</span>
        </div>
    </div>
    <div class="order-items">
        <div class="row">
            <span>Пассажирский х1</span>
            <span>271 ₽</span>
        </div>
        <div class="row">
            <span>Багажный х1</span>
            <span>99 ₽</span>
        </div>
        <div class="row">
            <span>Оповещение об отмене рейса</span>
            <span>10 ₽</span>
        </div>
        <div class="row">
            <span>Страхование жизни и здоровья</span>
            <span>20 ₽</span>
        </div>
    </div>
    <div class="total">
        <h2>Итого:</h2>
        <h2>400 ₽</h2>
    </div>
</div>