<div class="spacebetween">
    <h3>Пассажир №1</h3>
    <div class="btn-group heading">
        <span class="btn-action-sm">Автозаполнение</span>
        <a href="#" class="btn-action-sm btn-cross">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5" style="width: 20px;">
                <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
            </svg>                              
        </a>

    </div>
</div>

<div class="form-row">

    <div class="form-col">
        <label for="" class="input-label">Гражданство</label>
        <select name="country" id="country" class="input-field">
            <option value="">Ангола</option>
            <option value="">Бразилия</option>
            <option value="">Вануату</option>
            <option value="">Габон</option>
            <option value="">Дания</option>
            <option value="" selected>Россия</option>
        </select>
    </div>

    <div class="form-col">
        <label for="document" class="input-label">Документ</label>
        <select name="document" id="document" class="input-field">
            <option value="" selected>Паспорт РФ</option>
            <option value="">Паспорт иностранного гражданина</option>
            <option value="">Свидетельство о рождении</option>
        </select>
    </div>

    <div class="form-col">
        <label for="" class="input-label">Серия и номер документа</label>
        <input type="text" class="input-field" placeholder="1020 304050">
    </div>
</div>
<div class="form-row">
    <div class="form-col">
        <label for="" class="input-label">Фамилия</label>
        <input type="text" class="input-field" placeholder="Иванов">
    </div>

    <div class="form-col">
        <label for="" class="input-label">Имя</label>
        <input type="text" class="input-field" placeholder="Иван">
    </div>

    <div class="form-col">
        <label for="" class="input-label">Отчество</label>
        <input type="text" class="input-field" placeholder="Иванович">
    </div>
</div>
<div class="form-row">
    <div class="form-col">
        <label for="" class="input-label">Пол</label>
        <select name="gender" id="gender" class="input-field">
            <option value="">женский</option>
            <option value="" selected>мужской</option>
        </select>
    </div>

    <div class="form-col">
        <label for="" class="input-label">Дата рождения</label>
        <input type="date" class="input-field">
    </div>
    <div class="form-col cols2">
        <div>
            <label for="" class="input-label">Место</label>
            <select name="place" id="place" class="input-field">
                <option value="">1</option>
                <option value="">2</option>
                <option value="" selected>3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select>
        </div>
        <div>
            <label for="" class="input-label">Багаж</label>
            <select name="baggage" id="baggage" class="input-field">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="" selected>нет</option>
            </select>
        </div>
    </div>
</div>


<!-- Включенная страховка -->
<div class="addservice-block">
    <span>Страхование жизни и здоровья на время поездки (+15 ₽)</span>
    <span class="btn-action-sm gray">Отказаться</span>
</div>

<!-- Выключенная страховка -->
<!-- <div class="addservice-block">
    <span>Страхование жизни и здоровья на время поездки</span>
    <span class="btn-action-sm">Добавить</span>
</div> -->